.outer-box {
    border: 6px solid #00ff00;
    padding: 10px;
    margin-top: 20px;
}

/* All blocks common style */
.block {
    height: 160px;
    border: 2px dotted black;
    display: flex;
    align-items: start;
    justify-content: start;
    font-size: 20px;
    font-weight: 500;
    padding: 10px;
}

/* Background colors for each block */
.teal { background-color: #007f7f; }
.lavender { background-color: #d8c6d9; }

.coral { background-color: #ff6f52; }
.cyan { background-color: #4dd9d9; }

.pink { background-color: #ef8ff5; }
.green { background-color: #8ec641; }